Package: com.miwix.count
Name: Notification Count
Version: 1.0.0
Architecture: iphoneos-arm
Description: Display notification count instead of the "Notification Center" text on the lock screen.
Maintainer: Lavie Gariv
Author: Lavie Gariv
Section: Tweaks
Depends: mobilesubstrate
